<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div th:fragment="features">
        <h2>Features - Mappings</h2>
        <p>
            Trigger and parameter destinations must be stored within the system to allow for a user to keep track of the system’s elements. For this, Interstakt has a built-in Mapping System. 
        </p>
        <p>
            Whenever a user creates a new scenic level, or a parameter within a scenic level, the system automatically stores these new elements within the Mapping System. Therefore, if the user needs to access any of these elements from another location within the system’s hierarchy, the Mapping System will have them all stored within the parameter and trigger menus that exist at all levels.
        </p>
        <p>
            This feature of Interstakt is unique from standard visual programming languages, where a user would have to manually keep track of destinations, and often would have to manually patch two destinations together. With Interstakt, the objects created from the trigger and parameter menus will automatically create the necessary elements for communicating with designated destinations. The user does not need to complete any low-level work, and only has to choose the destination, and click ADD.
        </p>
    </div>
</body>

</html>