<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div th:fragment="features">
        <h2>Features - Parameters</h2>
        <p>
            In order for a system to maximize its capabilities, its musical functions need to have manipulation options beyond just their activation. A sequence of notes should be capable of being reversed, inversed, scrambled, etc. And an algorithmic function should be accessible, where the generative actions can be manipulated in real-time. 
        </p>
        <p>
            For this, Interstakt provides tools for creating parameter inputs at each level. These inputs are directly accessible from inlets added to the scenic object. Additionally, they can be accessed as triggers can, via a parameter menu that exists at all levels.
        </p>
    </div>
</body>

</html>