html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #373B40;
    color: white;
    font-family: 'Work Sans', sans-serif;
    padding-top: 70px;
}

a:hover {
    text-decoration: none;
}