<!DOCTYPE html>

<head>

</head>

<body>
    <div th:fragment="scorePath">
        <div style="margin-top: 10px;">
            <span>
                <a th:href="@{/{username}/score/{title}/{id} (username=${user.username}, title=${score.title}, id=${score.id})}" th:text="${score.title}"></a>
            </span>
              > 
            <span>
                <a th:if="${level == 'voice'}" th:text="${voice.name}" style="color: #2DFF0C;"></a>
                <a th:if="${level == 'scene'}" th:href="@{/{username}/score/{title}/{name}/{scoreId}-{voiceId} (username=${user.username}, title=${score.title}, name=${voice.name}, scoreId = ${score.id}, voiceId = ${voice.id})}" th:text="${voice.name}"></a>
            </span> 
            <span th:unless="${level == 'voice'}">
                > <a th:text="${scene.name}" style="color: #2DFF0C;"></a>
            </span>
        </div>
        <!--
            <ul>
            
            <li>
                <p th:if="${level == 'voice'}" th:text="${voice.name}"></p>
                <a th:if="${level == 'scene'}" th:href="@{/{username}/score/{title}/{name}/{scoreId}-{voiceId} (title=${score.title}, name=${voice.name}, scoreId = ${score.id}, voiceId = ${voice.id})}" th:text="${voice.name}"></a>
            </li>
            <li th:unless="${level == 'voice'}">
                <a th:text="${scene.name}"></a>
            </li>
        </ul>  
        -->     
    </div>
</body>

</html>