<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/fragments/sideProfile.css" rel="stylesheet">
</head>

<body>
    <div th:fragment="sideProfile" class="side-profile-div">
        <div>
            <img src="../images/InterstaktLogo_FixedRound.png" alt="" width="200px" height="200px">
        </div>
        <h4 class="profile-name" th:text="${user.firstName + ' ' + user.lastName}"></h4>
        <a th:href="@{/{user}/profile (user=${user.username})}" class="username" th:text=${user.username}></a>
        <div class="profile-content">
            <div class="side-score-div">
                <h6 class="side-score-element">SCORES</h6>
                <a href="" class="side-score-element-count badge-dark badge-pill" th:text="${scoreCount}"></a>
            </div>
            <div class="side-voice-div">
                <h6 class="side-score-element">VOICES</h6>
                <a href="" class="side-score-element-count badge-dark badge-pill" th:text="${voiceCount}"></a>
            </div>
            <div class="side-scene-div">
                <h6 class="side-score-element">SCENES</h6>
                <a href="" class="side-score-element-count badge-dark badge-pill" th:text="${sceneCount}"></a>
            </div>
            <!--
            <h5>Controllers</h5>
            <a href="">Controllers</a>
            -->
        </div>
        <div class="profile-footer">

        </div>
    </div>
</body>

</html>