.container {
    min-height: 0px;
    height: 85vh;
    max-width: none;
    max-height: 85vh;
}

.row {
    height: inherit;
}

.filters {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.527);
    bottom: 0;
}

.filters-title {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.view-all {
    display: block;
    margin: auto;
    margin-top: 15px;
    font-size: 12px;
}

.searchTitle {
    display: block;
    font-size: 32px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
}

.searchBar {
    display: block;
    font-size: 20px;
    width: 400px;
    margin: auto;
    margin-top: 5px;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.527);
    padding-left: 10px;
    font-weight: 300;
}

input:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

#levelsList {
    margin-top: 25px;
}

.searchResults {
    width: 96%;
    margin-left: 2%;
}

.level-title {
    font-size: 20px;
    border: grey;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.level-div {
    display: inline-block;
}

.level-ul {
    height: 55vh;
    overflow: scroll;
    overflow-x: hidden;
    padding: 2%;
}

.level-ul::-webkit-scrollbar {
    width: 0px;
    visibility: hidden;
}

.level-ul::-webkit-scrollbar-track {
    background: transparent;
}

.level-ul::-webkit-scrollbar-thumb {
    background: #2DFF0C;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
}

.level-ul:hover::-webkit-scrollbar-thumb {
    background-color: #2DFF0C;
    opacity: 0;
    visibility: hidden;
}

.level-path {
    float: right;
    font-size: 10px;
}

a .arrow, a .arrow:hover{
    color: white;
}