<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="fragments/styling :: headStyles"></div>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div id="loader"></div>
        <div id="loadedPage">
            <p class="aboutTitle">About</p>
            <br>
            <p class="aboutTitle">Overview</p>
            <p class="aboutTitle">Features</p>
            <p>Hierarchical Structure</p>
            <p>Trigger System</p>
            <p>Parameter System</p>
            <p>Mapping System</p>
            <p>General Controller</p>
            <p>Meta-Keyboard</p>
            <p>Control Scenes</p>
            <p class="aboutTitle">Demo</p>
            <p>Algorithmic</p>
            <p>Controller</p>
        </div>
        <div th:replace="fragments/footer"></div>
        </div>
        <div th:replace="fragments/footer"></div>
    </div>
</body>
</html>