<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/styling :: headStyles"></div>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <!-- User profile page begins -->
        <h2><span th:text="${user.firstName}"></span>
            <span th:text="${user.lastName}"></span> (<span style="color: #2DFF0C"><span th:text="${user.username}"></span></span>)</h2>
        <h5>Joined <span th:text="${#dates.format(user.createdAt, 'MMMM dd, yyyy')}"></span></h5>
    </div>
</body>
</html>