<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/styling :: headStyles"></div>
    <link rel="stylesheet" href="/css/score.css">
    <link rel="stylesheet" href="/css/fragments/scoreLevels.css">
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div th:replace="fragments/scorePath :: scorePath"></div>
        <h2 class="level-title" th:text=${voice.name}></h2>
        <div>
            <div>
                <ul class="list-inline list-group-horizontal" th:each="scene:${sceneList}">
                    <li class="list-group-item level-group">
                        <div class="item-title">
                            <a th:href="@{/{username}/score/{title}/{voiceName}/sceneName/{id}-{voiceId}-{sceneId} (username=${user.username}, title=${score.title}, voiceName=${voice.name}, sceneName=${scene.name}, id=${score.id}, voiceId=${voice.id}, sceneId=${scene.id})}">
                                <span class="item-title-text" th:text="${scene.name}"></span>
                            </a>
                            <a href="#" th:href="@{/{username}/score/{title}/{voiceName}/delete/{id}-{voiceId}-{sceneId}(username=${user.username}, title=${score.title}, voiceName=${voice.name}, id=${score.id}, voiceId=${voice.id}, sceneId=${scene.id})}">
                                <img class="level-del" src="/images/delete_outline-white-48dp.svg" alt="">
                            </a>
                        </div>
                        <div class="level-list list-group-item">
                            <!-- 
                                <div th:each="scene:${voice.scenes}" class="sub-level">
                                <svg width="8" height="8" class="level-trigger">
                                    <circle cx="5" cy="5" r="4" stroke=" #2DFF0C" stroke-width="1" fill="grey" />
                                  </svg>
                                <a th:href="@{/{username}/score/{title}/{voiceName}/sceneName/{id}-{voiceId}-{sceneId} (username=${user.username}, title=${score.title}, voiceName=${voice.name}, sceneName=${scene.name}, id=${score.id}, voiceId=${voice.id}, sceneId=${scene.id})}">
                                    <span class="sub-title" th:text="${scene.name}"></span>
                                </a>
                            </div>
                            -->
                        </div>
                    </li>
                </ul>
            </div>
            <div th:if="${#lists.isEmpty(sceneList)}">
                <button class="btn btn-outline-light level-add-btn-empty" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                    <img class="level-add" src="/images/add-white-48dp.svg" alt="">
                </button>
            </div>
            <div th:unless="${#lists.isEmpty(sceneList)}">
                <button class="btn btn-outline-light level-add-btn" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                    <img class="level-add" src="/images/add-white-48dp.svg" alt="">
                </button>
            </div>
        </div>
    </div>
    <div th:replace="fragments/modals/newScene"></div>
    <div th:replace="fragments/footer"></div>
</body>

</html>